#header {
	position: relative;
	box-sizing: border-box;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
background: rgb(206,220,231); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */

	height: auto;
	width: 100%;
}

body{
	margin: 0;
	padding: 0;
	background:#333 url(fondgris.jpg) no-repeat fixed;
	font-family: sans-serif;
	}

/*ul#menu_horizontal li { 
display : inline-block;
padding : 0 1em; 

}*/
#menu_horizontal {
display: table;
margin: 0 auto;
list-style-type : none; 
max-width: 1500px;
background: #0994f0;
}

#menu_horizontal div { display: table; margin: 0 auto; }

#content {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#818387+0,5d6068+100 */
background: rgb(129,131,135); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(129,131,135,1) 0%, rgba(93,96,104,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(129,131,135,1)), color-stop(100%,rgba(93,96,104,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(129,131,135,1) 0%,rgba(93,96,104,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(129,131,135,1) 0%,rgba(93,96,104,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(129,131,135,1) 0%,rgba(93,96,104,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(129,131,135,1) 0%,rgba(93,96,104,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#818387', endColorstr='#5d6068',GradientType=0 ); /* IE6-9 */

	max-width: 1400px;
	margin: auto; 
	height: auto;
	padding-bottom: 40px;
	
}

#right {
	margin: 0 2% 0 2%;
	text-align: justify;
	padding-top: 30px;
}

.btn {
  display: inline-block;
  background: #42b4dd;
  color: #eee;
  font-size: 1.01vw;
  padding: 20px 30px 20px 30px;
  margin-left: -4.5px;
  text-decoration: none;
  transition: background .3s, color .3s;
}
.btn:nth-child(1) { margin-left: 0;}

.btn:hover {
  background: #3cb0fd;
  color: #fff;
}
.btn2 {
  display: inline-block;
  background: #73bf4f;
  color: #eee;
  font-size: 1.01vw;
  padding: 20px 20px 20px 20px;
  margin-left: -4.5px;
  text-decoration: none;
  transition: background .3s, color .3s;
}
.btn2:nth-child(1) { margin-left: 0;}

.btn2:hover {
  background: #3cb0fd;
  color: #fff;
}
.btn3 {
  display: inline-block;
  background: #e28636;
  color: #eee;
  font-size: 1.01vw;
  padding: 20px 40px 20px 40px;
  margin-left: -4.5px;
  text-decoration: none;
  transition: background .3s, color .3s;
}
.btn3:nth-child(1) { margin-left: 0;}

.btn3:hover {
  background: #3cb0fd;
  color: #fff;
}
.btn4 {
  display: inline-block;
  background: #cd4733;
  color: #eee;
  font-size: 1.01vw;
  padding: 20px 40px 20px 40px;
  margin-left: -4.5px;
  text-decoration: none;
  transition: background .3s, color .3s;
}
.btn4:nth-child(1) { margin-left: 0;}

.btn4:hover {
  background: #3cb0fd;
  color: #fff;
}
.btn5 {
  display: inline-block;
  background: #c625bd;
  color: #eee;
  font-size: 1.01vw;
  padding: 20px 40px 20px 40px;
  margin-left: -4.5px;
  text-decoration: none;
  transition: background .3s, color .3s;
}
.btn5:nth-child(1) { margin-left: 0;}

.btn5:hover {
  background: #3cb0fd;
  color: #fff;
}


